page-reserva {

   

}

.circulo{
        align-items: center;
    justify-content: center;
    background-color: #000;
    color: white;
    width: 3em;
    border-radius: 50%;
    vertical-align: middle;
    height: 3em;
    padding: 11px;
    font-size: 13px;
    padding-left: 17px;
  }
  .circulo,h4{
    display: inline-block;
  }


#mapita{ background-color: rgba(0,0,0,0) !important }


ion-app._gmaps_cdv_ .nav-decor{
background-color: transparent !important;

}