page-venta {

}


ion-title{
	font-family: 'Pacifico', cursive;
}

.fixed44 {

    bottom: 25px;
    text-align: center;
    position: fixed;
    right: 0;
    z-index: 50;
    margin-left: -54px;
    width: 100%;
 
}
