page-venta {

}


ion-title{
	font-family: 'Pacifico', cursive;
}

.fixed44 {

    bottom: 25px;
    text-align: center;
    position: fixed;
    right: 0;
    z-index: 50;
    margin-left: -54px;
    width: 100%;
 
}
.detallesubcategoria{
	    padding-top: 14px;
    line-height: 23px;
    letter-spacing: 0.2px;
    font-weight: 300;
    color: #123;
    padding-left: 19px;
    padding-right: 12px;
}

