<form>
      <div class = "form-group">
         <label for = "Usuario">User</label>
         <input type = "text" class = "form-control" id = "productid" required
            [(ngModel)] = "model.username" name = "id">
      </div>
      
      <div class = "form-group">
         <label for = "name">Password</label>
         <input type = "text" class = "form-control" id = "name"
            [(ngModel)] = "model.password" name = "name">
      </div>

      <button (click)="authenticate(model.username,model.password)">Ingresar</button>
</form>